__pycache__/
*.pyc
.venv/
data/
!data/reference/
!data/raw/text/*.csv
!data/raw/text/*.tsv
!data/raw/text/xnli_dialectal/
/models/
*.pth
*.bin
wandb/
.env
*.egg-info/
dist/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.DS_Store
